* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "reem kufi", sans-serif !important;
}

img {
    max-width: 100%;
    height: auto;
}

.App {
    min-height: 100vh;
    width: 85vw;
    max-width: 1900px;
    margin: 0 auto;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
}

.nav-logo-container {
    max-width: 120px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-bar-menu-container {
    display: none;
}

.primary-button {
    padding: 0.9rem 1.75rem;
    background-color: rgb(247, 182, 193);
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.primary-button:hover {
    background-color: #5dcefb;
}

@media screen and (max-width: 768px) {
    .nav-logo-container {
        max-width: 100px;
    }
    .navbar-links-container {
        display: none;
    }
    .nav-bar-menu-container {
        display: flex;
    }
}